* {
    margin: 0;
    padding: 0;
}




ul{
    /* list-style-type: none; */
    /* list-style-image: url('./images/icon.png'); */
    list-style: square url('./images/icon.png');
    list-style-position: inside;
    background-color: lawngreen;
}

ul li {
    border: 1px solid black;
    padding: 15px;
}