p {
    margin: 30px 15px;

    padding: 50px;
    background-color: aquamarine;
    border: 20px solid red;

}

h1{

    border-style: solid;
    border-width: 20px;
    border-color: purple red orange blue;


}