*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    position: relative;
}

h1{
    color: #ff7b00;
}


.overlay{
    top: 0;
    right: 0;
    position: absolute;
    background-color: #000000;
    opacity: 85%;
    height: 100vh;
    width: 0;
    z-index: 9999;
    transition: 0.5s;
}

.overlay.openOver{
    width: 100%;
}