* {
    margin: 0;
}

.elemento {
    color: #fff;
    font-size: 22px;
    width: 250px;
    height: 250px;
    text-align: center;
    margin-bottom: 20px;
}

.elementoEstatico {
    position: static;
    background-color: crimson;
}

.elementoRelativo {
    position: relative;
    left: 100px;
    background-color: coral;

}

.elementoAbsoluto{
    position: absolute;
    left: 200px;
    background-color: darkcyan;
}

.elementoRelativoComFilho{
    position: relative;
    width: 350px;
    height: 350px;
    background-color: rgb(214, 212, 212);
}

.elementoAbsolutoComPai {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 150px;
    height: 150px;
    background-color: darkcyan;
}