html{
    background-color: #ccc;
    font-size: 32px;
    

}



body{
    background-color: blueviolet;
    width: 50%;
    font-size: 3rem;
}

.pai{
    background-color: #ea80fc;
    width: 50%;
    font-size: 1.5rem;

}

.filho{ 
    background-color: #1de9b6;
    width: 50%;
    font-size: .5rem;


}