*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: hsl(218, 23%, 16%);
    color: hsl(193, 38%, 86%);
    font-family: "Manrop", sans-serif;
}

.background{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 97vh;

}

.container{
    background-color: hsl(217, 19%, 24%);
    width: 500px;
    height: 300px;
    border-radius: 10%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
}

.numeroConselho{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 10px;
    color: hsl(150, 100%, 66%);
    margin-top: 10%;
    margin-bottom: 10%;
}

.conselho{
    text-align: center;
    font-weight: bold;
    margin: 5% 10% 5% 10%;
    height: 100px;
}

.divisor{
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #fff;
}


.gerarConselho{
    font-weight: bold;
    border: none;
    background-color: hsl(150, 100%, 66%);
    width: 60px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Responsivo */

@media(max-width: 425px){
    .container{
        display: block;
        width: 270px;
        height: 250px;
    }

    .numeroConselho{
        display: block;
        text-align: center;
        margin-top: 5%;
    }

    .conselho{
        display: block;
        text-align: center;
        height: 100%;
    }
    
    .divisor{
        width: 100%;
        height: 1px;
        margin-top: -140px;
        margin-bottom: 0px;
    }

}
